[run]
source = pulse,tests,djchat
concurrency = multiprocessing

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError
